<div class="page-header">
  <h1></h1>
</div>
<div class="container">
  <div class="chartkick" style="text-align: center;">
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= geo_chart Movie.group(:country).count, library: {backgroundColor: "white"} %>
    <div style="font-size: 14px; margin-top: 20px;">Diagram przedstawiający ilość filmów wyprodukowanych w danym kraju</div>
  </div>
</div>
